

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
}

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin: 0;}

a {
    text-decoration: none;
}

/* common */

.container { 
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}



/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    }

.header-container { 
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list { 
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts {
    font-style: normal;
    margin-left: auto;
    }



.contacts-link {
    padding: 24px 0;
    display: block;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* hero */

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.conteiner-hero{ 
   }


.hero-title { margin: auto;
     color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding-bottom: 48px;
    font-weight: 700px;
}

.hero-button { 
    color: #ffffff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
           
}

.hero-button:hover {
    background-color: #404BBF;
    cursor: pointer;
}

.hero-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* service */

.services {}

.services-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.services-list {}

.services-item {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    

}

.services-subtitle { 
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.services-text {}

/* team */ 

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    

}

.team-list {}

.team-item {
    background-color: #FFFFFF
}

.team-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
}

.team-text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* portfolio */

.portfolio {}

.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
   
}

.portfolio-list {}

.portfolio-item {}

.portfolio-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */

.footer {
    background-color: #2e2f42
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em
}